name: Chocolatine Workflow

on:
  push:
    branches-ignore:
      - 'ga-ignore-'
  pull_request:
    branches-ignore:
      - 'ga-ignore-'

env:
  MIRROR_URL: git@github.com:EpitechPromo2028/B-DOP-200-MAR-2-1-chocolatine-adan.hamitouche.git
  EXECUTABLES: 'directory1/executableA,directory2/executableB'

jobs:
  check_coding_style:
    runs-on: ubuntu-latest
    container: ghcr.io/epitech/coding-style-checker:latest
    steps:
      - name: Checkout GH repository
        uses: actions/checkout@v2
      - name: Run coding-style
        run: check.sh .. /tmp
      - name: Create annotation
        run: |
          input=/tmp/coding-style-reports.log
          while IFS= read -r line; do
            if [ ! -x "$line" ]; then
              echo "::error ::$line is not executable"
              exit 1
            fi
          done

  check_program_compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GH repository
        uses: actions/checkout@v2
        id:   check_coding_style
        with:
          repository: ''
      - name: Compile repository
        run:  make
      - name: Clean repository
        run:  make clean

  run_tests:
    needs: check_program_compilation
    runs-on: ubuntu-latest
    container: epitechcontent/epitest-docker
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        run: make tests_run
        timeout-minutes: 2

  push_to_mirror:
    needs: run_tests
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          destination: ${{ env.MIRROR_URL }}
          ssh_private_key: ${{ secrets.GIT_SSH_PRIVATE_KEY }}
